﻿/*
    Custom Style for Kendo Grid.
    UI styles which overrides default style.
*/
body .k-pager-wrap > .k-link {
      float: right !important ;
    }

    body .k-grid .k-pager-numbers {
        float: right !important;
    }

.k-pager-wrap {
    background-color: #ffffff;
    color: #000000;
}

.k-pager-numbers .k-state-selected {
    color: #ffffff;
    background-color: #1abb9c !important;
    border-width: 0 !important;
}

.k-pager-wrap>.k-link {
    border-style:none !important;
}
.k-pager-numbers .k-link {
    color: #1abb9c !important;
}

.k-pager-nav:hover {
    color: #1abb9c;
    background-color: #ffffff;
}

.k-pager-wrap>a.k-state-disabled:hover {
    background: #ffffff !important;
}


/* Wrap text in column - character limit */
.wordWrapGridColumn {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

/* Tooltip */
.k-tooltip {
   width: 400px !important;
   height: auto !important;
}

/* Switch Align */
.k-switch-container{
   margin-left: 10px !important;
}


/* Edit popup button style - remove scrollbars*/
.k-edit-form-container .k-edit-buttons{
    margin: 1px !important;
}

.k-switch-off .k-switch-container {
    background-color: darkgrey !important;
}

.label-success {
    border: solid 1px darkgreen !important;
}

.label-danger {
    border: solid 1px darkred !important;
}

.blockedNo {
   background-color : lightgray
}

.blockedYes {
   background-color : red
}

/* Tool tip box width */

.wordWrapGridColumn {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.k-tooltip {
    width: 400px !important;
    height: auto !important;
}
/* Align switch container */
.k-switch-container {
    margin-left: 10px !important;
}

/* Grid row highlight */
.k-grid td.k-state-selected:hover, .k-grid tbody tr:hover {
    color: #000000 !important;
    background-color: #A6FAC2 !important;
}

/*Active column on filter*/
.k-header-column-menu.k-active-filter, .k-header-column-menu.k-state-active, .k-header-column-menu.k-state-active:before {
        content: "\f0b0"; /* Adds a glyph using the Unicode character number */
        font-family: FontAwesome;
}

.wide a{
    color: white !important;
}

.wide a:hover{
    color: black !important;
    background-color: inherit;
}