body.dialog-no-scroll {
  overflow: hidden;
}
.dialog-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0);
}
.dialog-mask.dialog-mask-transition {
  -moz-transition: background-color 200ms;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}
.dialog-mask.dialog-mask-active {
  background-color: rgba(0, 0, 0, 0.5);
}
.dialog-mask.dialog-mask-loading:after {
  position: absolute;
  display: block;
  content: "";
  background-image: url("./loading.gif");
  top: 50%;
  left: 50%;
  width: 107px;
  height: 16px;
  margin-left: -107px;
  margin-top: -16px;
}
.dialog-scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
}
.dialog-scroll-container .dialog-container {
  position: absolute;
}
.dialog-container {
  z-index: 1000;
  position: fixed;
  min-height: 200px;
  min-width: 400px;
  background-color: #e3e3e3;
  background-image: -moz-linear-gradient(top, #f0f0f0 85%, #d7d7d7 100%);
  background-image: -webkit-linear-gradient(top, #f0f0f0 85%, #d7d7d7 100%);
  background-image: linear-gradient(to bottom, #f0f0f0 85%, #d7d7d7 100%);
  color: #363636;
  border: 1px solid #b0b0b0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.dialog-container.dynamic {
  top: 50%;
  left: 50%;
}
.dialog-container .dialog-header {
  background-color: #4f537a;
  background-image: -moz-linear-gradient(top, #595e89 0%, #45496a 100%);
  background-image: -webkit-linear-gradient(top, #595e89 0%, #45496a 100%);
  background-image:  linear-gradient(to bottom, #34495e 0%, #34495e 100%);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  color: #ffffff;
  min-height: 19px;
}
.dialog-container .dialog-header .dialog-title {
  font-weight: bold;
}
.dialog-container .dialog-header .dialog-close {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
}
.dialog-container .dialog-header .dialog-close:hover {
  background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #cccccc 100%);
  color: #595e89;
}
.dialog-container .dialog-header .dialog-close:focus,
.dialog-container .dialog-header .dialog-close:active {
  background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #cccccc 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(top, #cccccc 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #cccccc 0%, #ffffff 100%);
}
.dialog-container .dialog-header,
.dialog-container .dialog-footer {
  padding: 5px;
}
.dialog-container .dialog-body {
  padding: 10px;
  margin-bottom: 41px;
  font-weight:600;
}
.dialog-container .dialog-body p {
  margin-top: 0;
}
.dialog-container .dialog-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 41px;
}
.dialog-container .dialog-footer .dialog-button {
  float: right;
}
.dialog-container .dialog-button {
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  -moz-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  box-shadow: inset 0 -15px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid #595e89;
  background-color: #4f537a;
  background-image: -moz-linear-gradient(top, #595e89 0%, #45496a 100%);
  background-image: -webkit-linear-gradient(top, #595e89 0%, #45496a 100%);
  background-image: linear-gradient(to bottom, #1abb9c 0%, #1abb9c 100%);
  color: #ffffff;
  font-size: 14px;
}
.dialog-container .dialog-button:hover {
  box-shadow: none;
}
.dialog-container .dialog-button:active,
.dialog-container .dialog-button:focus {
  background-color: #4f537a;
  background-image: -moz-linear-gradient(top, #45496a 0%, #595e89 100%);
  background-image: -webkit-linear-gradient(top, #45496a 0%, #595e89 100%);
  background-image: linear-gradient(to bottom, #45496a 0%, #595e89 100%);
}
.dialog-container .dialog-button.dialog-button + .dialog-button {
  margin-right: 5px;
}
