/*
    Main theme style for the application
*/

/* body */
body{
background: none !important;
    position: relative;
}
/* Preloader*/
.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999999999;
    background-color: rgba(255,255,255,1);
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/preloader.gif');
}
.pageLoader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999999999;
    background-color: rgba(0, 0, 0, 0.45);
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../Images/spin.gif');
}

/* menu profile quick info  */
.profile_pic {
width: unset;
}
.img-circle.profile_img{
margin-left: 45%;
}
.profile_info {
padding: 5px 65px 10px;
width: unset;
}
.profile_info span {
font-size: 19px;
text-align: center;
}
.profile_info h2 {
font-size: 20px;
font-weight: 400;
overflow-wrap: break-word;
width: 95px;
text-align: justify;
}
/* sidebar menu  */
.nav-md .container.body .col-md-3.left_col {
     width:240px;
}
.nav.side-menu>li.active>a {
text-shadow: none;
box-shadow: none;
background: none;
}
.nav.side-menu>li.active{
background: #1abb9c !important;
border: none;
}
.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
background: #1abb9c !important;
border: none;
}
.side-menu li{
background: linear-gradient(#334556,#2C4257),#2A3F54;
border-top: 1px solid #6a7580;
}
.nav.side-menu>li>a{
margin: unset;
}
/* top navigation - Used in Header and Layout*/
.nav-md .container.body .right_col {
    padding-bottom:4px;
 }
.toggle img{
max-width: 350%;
margin-bottom: 10px;
margin-top: -2px;  
margin-left: -25px;  
}
.count_top i.fa {
border-radius: 60px;
box-shadow: 0px 0px 2px #73879c;
padding: 0.5em 0.6em;
border: 1px solid #73879c;
}
.nav_menu {
background-color: #fff;
}
.navbar-right li .user-profile{
background-color: #f7f7f7;
}
 /* top tiles - Used in Layout */
.tile_count .tile_stats_count {
padding: 0 10px 0 144px;
}
.tile_count .tile_stats_count:before {
height: 45px;
border-left: 3px solid #ADB2B5;
margin-top: 15px;
}
/* Footer */
footer{
  background-color: #f5f5f5;
}
.b-color{
color: #777777;
}
.b-color a{
color: #777777;
text-decoration: underline;
}

/* Tabs */
.glowing-border:hover {
   box-shadow: 0 0 10px #1abb9c;
    border-radius:3px;
    border-style:solid;
    border-color:#1abb9c;
}
.glowing-border-tab:hover {
   box-shadow: 0 0 10px #1abb9c;
    border-radius:3px;
    border-color:#1abb9c;
}
/* Tab highlight */
/* Used in BLockIpAddress, Browser, Configauration Settings, Country */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #1abb9c !important;
}
/* Align kendo validation Message */
.k-tooltip, k-tooltip-validation, k-invalid-msg, field-validation-error {
text-align: left !important;
}
@media (min-width: 992px){
    .tile_count .tile_stats_count:before {
margin-top: 25px;
}
}
@media (max-width: 768px){
.tile_count .tile_stats_count span {
font-size: 11px;
}
}
@media (max-width: 992px){
.toggle img{
max-width: 250%;
}
}
@media (max-width: 1024px){
.tile_count .tile_stats_count {
padding: 5px 0px 0 40px;
}
.tile_count .tile_stats_count:first-child:before {
border-left: 0;
}
}
@media (max-width: 414px){
.tile_count .tile_stats_count {
padding: 5px 0px 0 30px;
}
.tile_count .tile_stats_count:nth-child(odd):before {
border-left: 0;
}
}
@media (max-width: 320px){
.top_nav .navbar-right {
width: unset;
}
.tile_count .tile_stats_count span {
font-size: 9px;
}
}
@media (max-width: 384px){
.tile_count .tile_stats_count {
padding: 5px 0px 0 20px;
}
}

/*Toggle style active/deactive status*/
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1abb9c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1abb9c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/* Sidebar Menu */
.nav-sm .container.body .col-md-3.left_col {
    width:80px;
}

.nav-sm .nav.side-menu li a {
    padding-left:15px;
}

.nav.side-menu>li.active, .nav.side-menu>li.current-page {
    border-right: none !important;
}

/* Image Resolution */
.form-control:focus {
border-color:#1abb9c;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(88, 216, 191,.6) !important;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(88, 216, 191,.6) !important;
}
.panel_color {
padding: 20px;
background-color: #2a3f54;
}
.content_border{
border: 1px solid #d2d2d2;
}
.content_border label{
color:#736e6e;
}
.form_container h4{
color:#2a3f54;
margin-left: -11px;
}
.align{
margin: 25px;
}
.left_align {
float: left;
padding: 0px;
}

/* Style for Message page */
.p-botm20{
    padding-bottom:20px;
}
.custm-sel-box .k-widget.form-control {max-width:275px;}

/* Style for EventMessage page */
.custm-sel-box2 span.k-datepicker, .custm-sel-box2  span.k-datetimepicker {width:100%!important;}


/* Style for <Date> in Editor Box in Message */

    .tag-btn {
color: #fff;
background-color: #34495e;
border-color: red;
padding: 3px 15px;
border: outset;
float: none;
        text-align:center;
        border-width:medium;
        font-size:x-small
}
    button:disabled, button[disabled]{
      background-color: tan;
    }
    button:disabled:hover, button[disabled]:hover{
      background-color: tan;
    }

/* Style for Save and Cancel Buttons */

.saveButton {
  background-image:linear-gradient(to bottom, rgb(232,229,207) 3%, rgb(209,201,157)85%,rgb(234,230,210)100%);
  height:40px;
  color:#2e2e2e;
  font-size:14px;
  border:1px solid rgb(168,153,104);
  border-radius:4px;
  box-shadow:none;
  float:right;
  margin:2px;
}
.saveButton :active:enabled{
  background-image:linear-gradient(to bottom, rgb(194,189,155) 0%, rgb(179,169,116)10%,rgb(217,213,184)100%);
}

.cancelButton {
  background-image:linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(234,235,233)85%,rgb(244,244,244)100%);
  height:40px;
  color:#2e2e2e;
  font-size:14px;
  border:1px solid rgb(213,214,210);
  border-radius:4px;
  box-shadow:none;
  float:right;
  margin:2px;
}
.cancelButton:active:enabled{
  background-image:linear-gradient(to bottom, rgb(208,208,207) 0%, rgb(198,199,197)10%,rgb(255,255,255)100%);
}
.cancelButton:disabled,.saveButton :disabled{
    opacity:0.5;
}
/* Supported Versions */
    .demo-section .k-widget *{
        box-sizing: border-box !important;
    }  
 
    @media (max-width: 844px){
        .version .left_align {
                padding:0 10px !important;
        }
        }

        @media (max-width: 1440px){
            .version .form-control {
                display: block !important;
                width: 100% !important;
            }
            .add-btn {
                margin-top: 50px;
            }  
                     
        }
        @media only screen and (max-width: 768px){
            .add-btn {
                margin:-40px 45px 0 0;
            }
           }
        @media (min-width: 1600px) {
    .version .form-inline {
        margin-right:26px;
    }
}
       
@media (min-width: 1500px) {
    .version .form-inline .form-control {
        width: auto;
    }
}

/* TabStrip Highlight */
.k-tabstrip-items .k-item.k-state-active, .k-tabstrip-items .k-item.k-state-selected {
    background: gainsboro !important;
}
label {
    font-family: Arial;
}
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button {
    font-family: Arial;
}

/*
    Styles for custom error pages
*/

#errorpage {
  position: relative;
  height: 100vh;
}

#errorpage .errorpage {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.errorpage {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.errorpage .error-code {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.errorpage .error-code h1 {
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.errorpage h3 {
  font-size: 30px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}

.errorpage p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}

.errorpage a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #b98f51;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.errorpage a:hover {
  background-color: #fff;
  border-color: #b98f51;
  color: #b98f51;
}

.highlight {
    border:2px solid #9a0909;
}

@media only screen and (max-width: 420px) {
    #error-container{
        overflow:hidden !important;
    }
  .errorpage .error-code h1 {
    font-size: 162px;
  }
  .errorpage h3 {
    font-size: 22px;
  }
}
/**Message page**/
.p-botm20{
    padding-bottom:20px;
}
.custm-sel-box .k-widget.form-control {max-width:275px;}
.custm-sel-box2 span.k-datepicker, .custm-sel-box2  span.k-datetimepicker {width:100%!important;}

/*New font for headers*/
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}
