﻿<head>
    <script src="@Url.Content("~/Scripts/layout.js")" type="text/javascript"></script>
</head>
<div class="row tile_count">
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
        <div class="count" id="activeuser" style="padding: 0px 0px 0px 40px"></div>

    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-globe"></i> Countries</span>
        <div class="count" id="inactiveuser" style="padding: 0px 0px 0px 40px"></div>

    </div>
    
        <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i>Struct</span>
            <div class="count" id="structcount" style="padding: 0px 0px 0px 30px"></div>
        </div>

    <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-globe"></i>   Rings</span>
        <div class="count" id="ringcount" style="padding: 0px 0px 0px 30px"></div>

    </div>

</div>
