
﻿@model LoginUser
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "Login";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/_Login.cshtml";
}

<div class="container">
    <div class="card card-container">
        <div class="card-nav">
        <img src="@Url.Content("~/Content/Images/DPS_Maxframe_logo.jpg")" width="275">
        </div>
        @using (Html.BeginForm("LoginValidate", "Login", FormMethod.Post, new { id = "login_form" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                @Html.LabelFor(model=>model.UserName)
            </div>
            <div>
                @Html.TextBoxFor(model => model.UserName, new { @class="form-control"})
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class="text-danger"})
            </div>
            <div>
                @Html.LabelFor(model=>model.Password)
            </div>
            <div>
                @Html.TextBoxFor(model=>model.Password,new { @class="form-control", @type="Password"})
                @Html.ValidationMessageFor(m => m.Password, "", new { @class="text-danger"})
            </div>
            <div>
                @Html.LabelFor(model => model.Roles_Login)
            </div>
            <div>
@Html.DropDownListFor(model=>model.Roles_Login, new List<SelectListItem>()
{
    new SelectListItem(){ Text= "SuperAdmin", Value = "SuperAdmin"},
    new SelectListItem(){ Text= "Admin", Value = "Admin"},
    new SelectListItem(){ Text= "Marketing", Value = "Marketing"}
  
}, "Select Roles")

                                    

            </div>
           
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign In</button>
        }
    </div><!-- /card-container -->
</div><!-- /container -->