﻿@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@Scripts.Render("~/Scripts/siteMapMenu")
@helper  TopMenu(List<SiteMapNodeModel> nodeList)
{
    <div class="row">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="/Content/Images/userAvathar.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>John Doe</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <!-- <h3>General</h3> -->

                        <ul class="nav side-menu">
                            @{

                                foreach (SiteMapNodeModel node in nodeList)
                                {
                                    string url = "/" + node.Controller + "/" + node.Action;
                                    string icon = node.Description;
                                    string key = node.Key;
                                    string menus = node.Title;
                                   
                                <li id="@key" class="glowing-border">
                                    <a class="" onclick="navigate('@url.ToString()','@key')"><i class='@icon'></i> @menus </a>
                                </li>
                                    
                        }
                            }
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->
            </div>
        </div>
    </div>

}

@TopMenu(Model.Nodes)
