﻿@model Country
@using Kendo.Mvc.UI;

<div class="k-edit-form-container">
    
    @Html.HiddenFor(model => model.Id)

    <div class="k-edit-label">
        @Html.LabelFor(model => model.CountryName)
    </div>
    <div class="k-edit-field">
   @*     @Html.EditorFor(model => model.CountryName, new { disabled = "disabled", @readonly = "readonly" })*@
        @Html.TextBoxFor(model => model.CountryName, new { disabled = "disabled", @readonly = "readonly"})
    </div>

    <div class="k-edit-label">
        @Html.LabelFor(model => model.Status)
    </div>
    <div class="k-edit-field">
        @(Html.Kendo().Switch()
            .Name("Status")          
            .Messages(c => c.Checked("Active").Unchecked("Inactive")).Width(120)
        )      
    </div>

    <div class="k-edit-label">
        <label>Notes</label><div>(Optional)</div>
    </div>
    <div class="k-edit-field">
        <textarea id="note" cols="4" rows="3"></textarea>
    </div>
</div>