﻿@model Message
@using Kendo.Mvc.UI;
@Scripts.Render("~/Scripts/ViewScripts/MessageEditor.js")

    <div class="k-edit-form-container">
        <div class="k-edit-label">
            <b>Message Details</b>
        </div>
        <br />
        <span class="error" id="dubpicatemssg" style="padding-left: 5%;"></span>

        @Html.HiddenFor(model => model.MessageId)
        <div class="k-edit-label">
            @Html.LabelFor(model => model.MessageTitle)
            @Html.ValidationMessageFor(m => m.MessageTitle)
        </div>
        <div class="k-edit-field">
            @Html.TextBoxFor(m => m.MessageTitle, new { @disabled = true })
        </div>
        <div class="k-edit-label">
            @Html.LabelFor(model => model.Subject)
            @Html.ValidationMessageFor(m => m.Subject)
        </div>
        <div class="k-edit-field">
            @Html.TextBoxFor(m => m.Subject)
        </div>

        <div class="k-edit-label">
            @Html.LabelFor(model => model.LanguageId)
            @Html.ValidationMessageFor(m => m.LanguageId)
        </div>

        <div class="k-edit-field">
            @(Html.ComboBox("LanguageId", "Message", "languageComboRead").Events(e => e.Change("OnChange")))
        </div>

        <div class="k-edit-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="k-edit-field">
            @(Html.Kendo().EditorFor(m => m.Description)
                  .Name("Description")
                  .Tools(tools => tools.Clear()
                        .Formatting()
                        .Bold().Italic().Underline()
                        .JustifyLeft().JustifyCenter().JustifyRight()
                        .InsertUnorderedList().InsertOrderedList().Indent()
                        .TableEditing()
                        .CustomTemplate(ct => ct.Template(@"<button type='button' class='tag-btn' onclick=setTagsInEditor('Startdate')>Startdate</button>
                                                            <button type = 'button' class='tag-btn' onclick=setTagsInEditor('Starttime')>Starttime</button>
                                                            <button type = 'button' class='tag-btn' onclick=setTagsInEditor('Enddate')>Enddate</button>
                                                            <button type = 'button' class='tag-btn' onclick=setTagsInEditor('Endtime')>Endtime</button>"
                )))
                .HtmlAttributes(new { required = "required", aria_label = "editor" })
                .Resizable(resizable => resizable.Content(true).Toolbar(true)))
        </div>
        @Html.ValidationMessageFor(m => m.Description)
        <div class="k-edit-label">
            <label>Notes</label><div>(Optional)</div>
        </div>
        <div class="k-edit-field">
            <textarea id="note" cols="4" rows="3"></textarea>
        </div>
    </div>