﻿@model Ring
@using Kendo.Mvc.UI;

<div class="k-edit-form-container">
    <h3>Ring Details</h3>
    <br />
    @Html.HiddenFor(model => model.Id)

    <div class="k-edit-label">
        @Html.LabelFor(model => model.PartNumber)
    </div>
    <div class="k-edit-field">
        @Html.TextBoxFor(model => model.PartNumber, new { disabled = "disabled", @readonly = "readonly" })
    </div>
    <div class="k-edit-label">
        @Html.LabelFor(model => model.RingType)
    </div>
    <div class="k-edit-field">
        @Html.TextBoxFor(model => model.RingType, new { disabled = "disabled", @readonly = "readonly" })
    </div>
    <div class="k-edit-label">
        @Html.LabelFor(model => model.DiameterInMM)
    </div>
    <div class="k-edit-field">
        @Html.TextBoxFor(model => model.DiameterInMM, new { disabled = "disabled", @readonly = "readonly" })
    </div>
    <div class="k-edit-label">
        @Html.LabelFor(model => model.Disabled)
    </div>
    <div class="k-edit-field">
        @(Html.Kendo().Switch()
            .Name("Disabled")
            .Messages(c => c.Checked("Active").Unchecked("Inactive")).Width(120)
        )

    </div>

    <div class="k-edit-label">
        <label>Notes</label><div class="text-danger">(mandatory)</div>
    </div>
    <div class="k-edit-field">
        <textarea id="note" cols="4" rows="3" required></textarea>
    </div>
</div>