﻿@model User
@using Kendo.Mvc.UI;
@Scripts.Render("~/Scripts/ViewScripts/User.js")
<style type="text/css">
    .k-switch-on .k-switch-container {
        color: white;
        background-color: red;
    }

    .k-switch-on .k-switch-handle {
        border-color: rgba(0, 0, 0, 0.08);
        color: white;
        background-color: #f2f2f2;
    }

    .k-switch-on:hover .k-switch-container, .k-switch-on.k-state-hover .k-switch-container {
        color: white;
        background-color: lightcoral;
    }

    .k-switch-on:hover .k-switch-handle, .k-switch-on.k-state-hover .k-switch-handle {
        border-color: rgba(0, 0, 0, 0.15);
        color: white;
        background-color: #ededed;
    }
</style>
<div class="k-edit-form-container">
    <h3>User Details</h3>
    <br />
    <div class="k-edit-label">
        @Html.LabelFor(model => model.Username)
    </div>
    <div class="k-edit-field">
        @Html.TextBoxFor(model => model.Username, new { disabled = "disabled", @readonly = "readonly" })
    </div>
    <div class="k-edit-label">
        @Html.LabelFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div>
    <div class="k-edit-field">
        @Html.TextBoxFor(model => model.FirstName, new { id = "txtFirstName" })
    </div>
    <div class="k-edit-label">
        @Html.LabelFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
    </div>
    <div class="k-edit-field">
        @Html.TextBoxFor(model => model.LastName, new { id = "txtLastName" })
    </div>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.LastLoginDate)
    @Html.HiddenFor(model => model.StatusDate)
    @*  @Html.HiddenFor(model=>model.LanguageId)*@
    <div class="k-edit-label">
        @Html.LabelFor(model => model.EmailAddress)
        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
    </div>
    <div class="k-edit-field">
        @Html.TextBoxFor(model => model.EmailAddress, "", new { id = "txtEmailAddress" })
    </div>
    <div class="k-edit-label">
        @Html.LabelFor(model => model.MarketingPerson)
        @Html.ValidationMessageFor(model => model.MarketingPerson, "", new { @class = "text-danger" })
    </div>
    <div class="k-edit-field">
        @Html.TextBoxFor(model => model.MarketingPerson, new { id = "txtMarketingPerson" })
    </div>
    <div class="k-edit-label">
        @Html.LabelFor(model => model.CountryId)
        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
    </div>
    <div class="k-edit-field">
        @*  @Html.ComboBox("CountryId","User")*@
        @Html.EditorFor(model => model.CountryId)
    </div>
    @*<div class="k-edit-label">
            @Html.LabelFor(model => model.LanguageId)
            @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
        </div>
        <div class="k-edit-field">
            @Html.EditorFor(model => model.LanguageId)
        </div>*@
    <div class="k-edit-label">
        @Html.LabelFor(model => model.Blocked)
    </div>
    <div class="k-edit-field">
        @(Html.Kendo().Switch()
        .Name("Blocked")
        .Messages(c => c.Checked("Yes").Unchecked("No")).Width(120)
        )

    </div>
    <div class="k-edit-label">
        @Html.Label("Reset Password")
    </div>
    <div class="k-edit-field">
        <div class="col-md-10 col-sm-12 col-xs-12" style="display: flex;">
            <input type="button" class="cancelButton" value="Reset Password" id="btnResetPassword" style="width:inherit" />
            @Html.HiddenFor(model => model.LockOutUntil)

        </div>
    </div>
    <div class="k-edit-label">
        @Html.Label("Approved")
    </div>
    <div class="k-edit-field">
        <div class="col-md-8 col-sm-10 col-xs-12" style="right: 20px;">
            <input type="button" class="cancelButton" value="Dis-Approve" id="btnDisApproved" />
            <input type="button" class="saveButton" value="Approve" id="btnApproved" />
            <div style="display: none">
                @(Html.TextBoxFor(m => m.Status, new { id = "Status" })

                )
            </div>
        </div>
    </div>
    <div class="k-edit-label">
        <label>Notes</label><div>(Optional)</div>
    </div>
    <div class="k-edit-field">
        <textarea id="note" cols="4" rows="3"></textarea>
    </div>
</div>
