﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BadRequest</title>
</head>
<body>
    <h4>
        Sorry, Bad request. The Page, You are Looking for File is not found.
    </h4>
    <h6>@Html.ActionLink("Go Back", "Index", "Login")</h6>
    <br />
    <br />
</body>
</html>
