﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h4>
            Sorry, The page you are looking is not found.
        </h4>
    </div>
</body>
</html>
