﻿<script>
    //save Gtin details
    function saveContact(url) {
        serviceWrap.submitForm(url, function () {
        });
    }

    function clearContact(url) {
        window.$.ajax({
            url: url,
            type: "GET",
            dataType: "html",
            success: function (data) {
                window.$('#content-area').html(data);
                display_error("Loading old data", false);
            }
        })
    }
</script>
@model Contact
<div class="form_container">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <h4>Contact</h4>
                    @using (Html.BeginForm())
                    {
                        <div class="row content_border">
                            <div class="panel_color">
                            </div>
                            <div class="col-md-8 col-sm-10 col-xs-12">
                                <div class="align row">
                                    <div class="left_align col-md-3 col-sm-4 col-xs-6">
                                        <label>Contact Number</label><label style="color:red">&nbsp;*</label>
                                    </div>
                                    <div class="col-md-5 col-sm-10 col-xs-12">
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", tabindex = 1, @type = "number" })
                                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="align row">
                                    <div class="left_align col-md-3 col-sm-4 col-xs-6">
                                        <label>Email</label><label style="color:red">&nbsp;*</label>
                                    </div>
                                    <div class="col-md-5 col-sm-10 col-xs-12">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", tabindex = 1 })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="save row ">
                                    <div class="col-md-8 col-sm-10 col-xs-12">
                                        <button type="button" class="saveButton" onclick="saveContact('@Url.Action("AddContact", "User")')" tabindex="2">Save</button>
                                        <button type="button" class="cancelButton" tabindex="2" onclick="clearContact('@Url.Action("ContactIndex","User")')">Cancel</button>
                                        <div class="align row">&nbsp;</div>
                                        <div><label style="color:red;font-weight:normal"> * Indicates Required Field</label></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

