﻿@model CountryViewModel
@*<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>*@
@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/country")

<div class="demo-section k-content">
    <div class="form_container">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <h4>Approved Countries</h4>
                        <ul class="nav nav-pills">
                            <li id="svGrid" class="active glowing-border-tab"">
                                <a href="#1a" data-toggle="tab">Countries</a>
                            </li>
                            <li id="svForm" class="glowing-border-tab">
                                <a href="#2a" data-toggle="tab" id="tbNewCountry">Add Country</a>
                            </li>
                        </ul>

                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="1a">
                                <div id="grid_display">
                                    @(Html.Grid<Country>(Model.CountryGridViewmodel, "User", EditOrDelete.Edit, "Country"));
                                </div>
                            </div>


                            <div class="tab-pane" id="2a">
                                @using (Html.BeginForm())
                                {
                                <div class="row content_border">
                                    <div class="panel_color" />
                                    <div id="cntry_add" class="demo-section k-content">
                                        <div class="col-md-6 col-sm-4 col-xs-10">
                                            <label>Select Country</label><label style="color:red"> &nbsp;*</label>
                                            @(Html.ComboBox("Country.CountryName", "User"))
                                            @Html.ValidationMessageFor(x => x.Country.CountryName, "", new { @class = "text-danger" })

                                            @*@{Html.RenderPartial("~/Views/_Layout.cshtml");}*@

                                            @*<div id="cartdetails" class="col-md-2 col-sm-5 col-xs-12 shopping_cart pull-right">
                                                @{ Html.RenderAction("ViewCart"); }
                                            </div>*@
                                           
                                        </div>
                                        <div class="align row">&nbsp;</div>
                                        <div><label style="color:red;font-weight:normal"> * Indicates Required Field</label></div>

                                        <div class="col-md-6 pull-left">
                                            <button type="button" class="saveButton" tabindex="15" onclick="saveCountry('@Url.Action("CountryAdd", "User" )')">Add</button>
                                         
                                        </div>

                                        <div class="align row">&nbsp;</div>
                                        </div>
                                    </div>
                                    }
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


