﻿@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/user")

@using Kendo.Mvc.UI;
@model IGridViewModel<User>
<div class="">
    @{Html.Kendo().Window().Name("dialog_mail").Title("Mail").Draggable().Visible(false).Content(@<text> @{Html.RenderPartial("_Mail");} </text>).Height(400).Width(700).Render();}
    <div class="row">
        @*<div class="wide">
                 @(Html.Kendo().Button()
             .Name("showDialogBtn")
             .HtmlAttributes(new { @class = "hide-on-narrow" })
             .Content("Mail")
             .Events(ev => ev.Click("showDialog"))
                 )
            </div>*@
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @(Html.Grid<User>(Model, "User", EditOrDelete.Edit, "User")
             //.Events(e => e.Edit("onEdit"))
             .Events(e => e.Edit("onEdit").Change("hook_request_end"))
            .Columns(columns =>
            {

                if (ViewBag.CountryList != null)
                {

                    columns.ForeignKey(p => p.CountryId, (System.Collections.IEnumerable)ViewBag.CountryList, "Value", "Text").Title("Country").Width(150);
                    //columns.ForeignKey(p => p.LanguageId, (System.Collections.IEnumerable)ViewBag.LanguguageList, "Value", "Text").Title("Language").Width(150);
                    //columns.Command(x => x.Edit().Template("<a role='button' class='k-button-icontext k-grid-edit k-icon k-i-pencil ob-icon-only' style='cursor:pointer'><span class='k-icon k-i-edit'></span> </a>")).Width(50);
                }
            })

)
        </div>
    </div>
</div>