﻿@model UserViewModel
@using Kendo.Mvc.UI;

<div class="k-edit-form-container">
    <h3>User Details</h3>
    <br />
    @Html.HiddenFor(model => model.user.Id)

    <div class="k-edit-label">
        @Html.LabelFor(model => model.user.EmailAddress)
    </div>
    <div class="k-edit-field">
        @Html.EditorFor(model => model.user.EmailAddress)
       @Html.ValidationMessageFor(model => model.user.EmailAddress, "", new { @class = "text-danger" })
    </div>

    <div class="k-edit-label">
        @Html.LabelFor(model => model.user.Status)
    </div>
    <div class="k-edit-field">
        @(Html.Kendo().Switch()
            .Name("Status")
            .Events(ev => ev.Change("onChange"))
            .Messages(c => c.Checked("Active").Unchecked("Inactive")).Width(120)
        )
        @Html.ValidationMessageFor(model => model.user.Status)
    </div>

    <div class="k-edit-label">
        @Html.LabelFor(model => model.log.Message)
    </div>
    <div class="k-edit-field">
        @Html.EditorFor(model => model.log.Message)
       @Html.ValidationMessageFor(model => model.log.Message, "", new { @class = "text-danger" })
    </div>
</div>