﻿
@using Kendo.Mvc.UI;
@using WebAdmin;
@model  HardwareViewModel


@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/_Layout.cshtml";
}

<div class="form_container">

    <div class="clearfix"></div>
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


            <div class=demo-section k-content">
                @(Html.Kendo().TabStrip()
.Name("tabstrip")
.Animation(animation =>
animation.Open(effect => effect.Fade(FadeDirection.In)))
.Items(tabstrip =>
{
    tabstrip.Add().Text("Ring")
           .Selected(true)
           .Content(@<text>

            @(Html.Grid<Ring>(Model.RingGridViewModel, "Hardware", EditOrDelete.Edit, "Ring"))
        </text>);
    tabstrip.Add().Text("Strut")
.Content(@<text>
        @(Html.Grid<Strut>(Model.StrutGridViewModel, "Hardware", EditOrDelete.Edit, "Strut"))

</text>);


}
))

            </div>

        </div>
    </div>
</div>



