﻿@model ConfigurationSettingViewModel
@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/configurationSettings")

    <div class="demo-section k-content">
        <div class="form_container">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <h4>Add Supported OS and Browser Versions</h4>
                            <ul class="nav nav-pills">
                                <li id="svGrid" class="active glowing-border-tab">
                                    <a href="#1a" data-toggle="tab" id="tbSupportrdVersionGrid">Supported Versions Grid</a>
                                </li>
                                <li id="svForm" class="glowing-border-tab">
                                    <a href="#2a" data-toggle="tab" id="tbSupportrdVersion">Supported Versions</a>
                                </li>
                            </ul>
                            <div class="tab-content clearfix">
                                <div class="tab-pane active" id="1a">
                                    @(Html.Grid<ConfigurationSetting>(Model.ConfigurationSetinGridViewModel, "Settings", EditOrDelete.Delete, "ConfigurationSetting"));
                                </div>
                                <div class="tab-pane" id="2a">

                                    @using (Html.BeginForm())
                                    {
                                        @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
                                        <div class="row content_border version">
                                            <div class="panel_color" />
                                            <div class="col-md-5 col-sm-12 col-xs-12">
                                                <div class="align row">
                                                    <div class="left_align col-md-4 col-sm-6 col-xs-12">
                                                        <label>OS</label><label style="color:red"> &nbsp;*</label>
                                                    </div>
                                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                                        <div class="form-check">
                                                            @Html.DropDownListFor(m => m.ConfigurationSetting.OS,
                                                        new SelectList(Enum.GetValues(typeof(OS))),
                                                        "Select OS", new { @class = "form-control", onchange = "utility.clearValidationMessage(false,this)" })

                                                            @Html.ValidationMessageFor(model => model.ConfigurationSetting.OS, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="align row">
                                                    <div class="left_align col-md-4 col-sm-6 col-xs-12">
                                                        <label>Version</label><label style="color:red"> &nbsp;*</label>
                                                    </div>
                                                    <div class="b_align col-md-8 col-sm-6 col-xs-12">
                                                        <div class="left_align col-md-4 col-sm-6 col-xs-12">
                                                            <label>Bottom</label>
                                                        </div>
                                                        <div class="col-md-8 col-sm-6 col-xs-12">
                                                            @Html.TextBoxFor(x => x.ConfigurationSetting.OS_Bottom_Version, new { @class = "form-control", id = "txtOsBottom", tabindex = 3, onclick = "utility.clearValidationMessage(false,this)", @type = "number" })
                                                            @Html.ValidationMessageFor(model => model.ConfigurationSetting.OS_Bottom_Version, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="top">
                                                            <div class="left_align col-md-4 col-sm-6 col-xs-12">
                                                                <label>Top</label>
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-12">
                                                                @Html.TextBoxFor(x => x.ConfigurationSetting.OS_Top_Version, new { @class = "form-control", id = "txtOsTop", tabindex = 4, onclick = "utility.clearValidationMessage(false,this)", @type = "number" })
                                                                @Html.ValidationMessageFor(model => model.ConfigurationSetting.OS_Top_Version, "", new { @class = "text-danger" })
                                                                <div id="divOsTop" style="display:none"><p class="text-danger">Top should be greater than Bottom</p></div>
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>
                                                <div class="align row">
                                                    <div class="left_align col-md-4 col-sm-6 col-xs-12">
                                                        <label>OS 32/64 bit</label><label style="color:red"> &nbsp;*</label>
                                                    </div>
                                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                                        <div class="form-check">

                                                            32 bit: @Html.RadioButtonFor(m => m.ConfigurationSetting.OS_32_64Bit, 32, new { onclick = "utility.clearValidationMessage(false,this)" })
                                                            64 bit: @Html.RadioButtonFor(m => m.ConfigurationSetting.OS_32_64Bit, 64, new { onclick = "utility.clearValidationMessage(false,this)" })
                                                            @Html.ValidationMessageFor(model => model.ConfigurationSetting.OS_32_64Bit, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="align row">



                                                    <div class="left_align col-md-4 col-sm-6 col-xs-12">
                                                        <label>Display Name</label><label style="color:red"> &nbsp;*</label>
                                                    </div>
                                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                                        @Html.TextBoxFor(x => x.ConfigurationSetting.DisplayName, new { @class = "form-control", tabindex = 5, onclick = "utility.clearValidationMessage(false,this)" })
                                                        @Html.ValidationMessageFor(model => model.ConfigurationSetting.DisplayName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div><label style="color:red;font-weight:normal"> * Indicates Required Field</label></div>


                                            </div>

                                            <div class="col-md-5 col-sm-12 col-xs-12">
                                                <div class="align row">
                                                    <div class="left_align col-md-4 col-sm-6 col-xs-12">
                                                        <label>Browser</label><label style="color:red"> &nbsp;*</label>
                                                    </div>
                                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                                        <div class="form-check">
                                                            @*@Html.DropDownListFor(m => m.BrowserDetails,Model.ConfigurationSetting.Browser, new { @class = "form-control" })*@
                                                            @Html.DropDownListFor(x => Model.ConfigurationSetting.Browser,
                                                       new SelectList(Model.BrowserList, "Value", "Text"), htmlAttributes:
                                                       new { @class = "form-control", onchange = "utility.clearValidationMessage(false,this)" })


                                                            @Html.ValidationMessageFor(x => x.ConfigurationSetting.Browser, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="align row">
                                                    <div class="left_align col-md-4 col-sm-6 col-xs-12">
                                                        <label>Version</label><label style="color:red"> &nbsp;*</label>
                                                    </div>
                                                    <div class="b_align col-md-8 col-sm-6 col-xs-12">
                                                        <div class="left_align col-md-4 col-sm-6 col-xs-12">
                                                            <label>Bottom</label>
                                                        </div>
                                                        <div class="col-md-8 col-sm-6 col-xs-12">
                                                            @Html.TextBoxFor(x => x.ConfigurationSetting.Browser_Bottom_Version, new { @class = "form-control", id = "txtBrowserBottom", tabindex = 6, onclick = "utility.clearValidationMessage(false,this)", @type = "number" })
                                                            @Html.ValidationMessageFor(model => model.ConfigurationSetting.Browser_Bottom_Version, "", new { @class = "text-danger" })

                                                        </div>
                                                        <div class="top">
                                                            <div class="left_align col-md-4 col-sm-6 col-xs-12">
                                                                <label>Top</label>
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 col-xs-12">
                                                                @Html.TextBoxFor(x => x.ConfigurationSetting.Browser_Top_Version, new { @class = "form-control", id = "txtBrowserTop", tabindex = 7, onclick = "utility.clearValidationMessage(false,this)", @type = "number" })
                                                                @Html.ValidationMessageFor(model => model.ConfigurationSetting.Browser_Top_Version, "", new { @class = "text-danger" })
                                                                <div id="divBrowserTop" style="display:none"><p class="text-danger">Top should be greater than Bottom</p></div>


                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="align row">
                                                    <div class="left_align col-md-4 col-sm-6 col-xs-12">
                                                        <label>Browser 32/64 bit</label><label style="color:red"> &nbsp;*</label>
                                                    </div>
                                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                                        32 bit: @Html.RadioButtonFor(x => x.ConfigurationSetting.Browser_32_64Bit, 32, new { onclick = "utility.clearValidationMessage(false,this)" })
                                                        64 bit: @Html.RadioButtonFor(x => x.ConfigurationSetting.Browser_32_64Bit, 64, new { onclick = "utility.clearValidationMessage(false,this)" })
                                                        @Html.ValidationMessageFor(model => model.ConfigurationSetting.Browser_32_64Bit, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="align row">
                                                    <div class="add-btn row">
                                                        <div class="col-md-12 pull-left">
                                                            <button type="button" class="saveButton" tabindex="15" onclick="createSupportedVersion('@Url.Action("ConfigurationSettingAdd","Settings")')">Save</button>
                                                            <button type="button" class="cancelButton" onclick="utility.clearAllControls()">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>

                                        @*</form>*@

                                    }
                                </div>



                            </div>

                        </div>
                    </div>
                </div>




            </div>
