﻿@model GtinViewModel
@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/gtin")
<div class="form_container">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <h4>GTIN Number</h4>
                    @using (Html.BeginForm())
                    {
                        <div class="row content_border">
                            <div class="panel_color">
                            </div>
                            <div class="col-md-8 col-sm-10 col-xs-12">
                                <div class="align row">
                                    <div class="left_align col-md-3 col-sm-4 col-xs-6">
                                        <label>GTIN Number</label><label style="color:red">&nbsp;*</label>
                                    </div>
                                    <div class="col-md-5 col-sm-10 col-xs-12">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.TextBoxFor(m => m.gtin, new { @class = "form-control text-right",tabindex = 1 })
                                        @Html.ValidationMessageFor(m => m.gtin, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                <div class="save row ">
                                    <div class="col-md-8 col-sm-10 col-xs-12">
                                        <button type="button" class="saveButton" tabindex="2" onclick="saveGTIN('@Url.Action("UpdateGtin", "Settings")')">Save</button>
                                        <button type="button" class="cancelButton" tabindex="2" onclick="clearGtin('@Url.Action("Gtin","Settings")')">Cancel</button>
                                        <div class="align row">&nbsp;</div>
                                        <div><label style="color:red;font-weight:normal"> * Indicates Required Field</label></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

