﻿@*@model WebAdmin.Models.Password*@

@model PasswordViewModel


<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $('#message-box').hide();

        $('#cancel').click(function () {
            console.log("fe");
            $.ajax({
                url: '@Url.Action("Index","Password")',
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $('#content-area').html(data);

                }

            });

        });


        $('#msgContent').html('');
        $("#password_form").on("submit", function (event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: $(this).serialize(),
                success: function (response) {
                    if (response.message) {
                        if (!response.status) {
                            $('#msgContent').addClass("success");
                        }
                        else {
                            $('#msgContent').addClass("error");
                        }
                        $('#msgContent').html(response.message);
                        console.log("popupOpen1");
                        popupOpenClose($(".popup"));
                        //console.log("popupOpen2");
                        //$('#cancel').attr('disabled', true);
                    }
                    

                },
                failure: function (response) {
                    if (response.message) {
                        $('#msgContent').html(response.message);

                        if (response.status) {
                            $('#msgContent').addClass("error");
                        }
                        popupOpenClose($(".popup"));
                    }

                }
            });
        });
    });

</script>


<div class="form_container">
    <!-- Modal -->
    <!-- /Modal -->
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    @*<div id="message-box" class="alert"></div>*@
                    <h4>Reset Password</h4>
                    @using (Html.BeginForm("update", "Password", FormMethod.Post, new { id = "password_form" }))
                    {
                        <div class="row content_border">
                            <div class="panel_color">
                            </div>
                            <div class="col-md-6 col-sm-10 col-xs-12">
                                <div class="align row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Id)


                                    <div class="left_align col-md-3 col-sm-4 col-xs-6">
                                        @Html.LabelFor(model => model.Pswd,  htmlAttributes: new { @class = "control-label col-md-2" })
                                       
                                    </div>
                                    <div class="col-md-4 col-sm-5 col-xs-6">
                                        @Html.EditorFor(model => model.Pswd, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Pswd, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="align row">
                                   
                                    <div class="left_align col-md-3 col-sm-4 col-xs-6">
                                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })

                                    </div>
                                    <div class="col-md-4 col-sm-5 col-xs-6">
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="save row ">
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                    </div>
                                    <div class="col-md-4 col-sm-5 col-xs-6">
                                        <input type="submit" value="Reset Password" class="save-btn" />


                                        @* <button type="button" class="save-btn" id="cancel" tabindex="2">Cancel</button>*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
@* } *@

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}